@font-face{
    font-family: "Bungee Shade";
    src: url("BungeeShade-Regular.ttf");
    font-weight: bold;
}
@font-face{
    font-family: Bungee;
    src: url('Bungee-Regular.ttf');
    font-weight: bold;
}
@font-face{
    font-family: Rosewood;
    src: url('Rosewood.ttf');
    font-weight: regular;
}
@font-face{
    font-family: "Confiteria Bold";
    src: url('ConfiteriaScript-Bold.otf');
    font-weight: bold;
}
@font-face{
    font-family: "Confiteria SemiBold";
    src: url('ConfiteriaScript-SemiBold.otf');
    font-weight: semibold;
}
@font-face{
    font-family: "AmericanTypewriter";
    src: url("AmericanTyperiter.ttc");
    font-weight: regular;
}

.grad{
    background: linear-gradient(to bottom right, white, floralwhite)
    background-size: cover;
}

.centraltable {
	text-align: center;
	background-color:#ffb4ae;
	border: 3px solid #9c0a00;
  border-radius: 30px;
}
.centralfinaltable {
  padding: 0px 50px;
  padding-bottom: 50px;
  text-align: center;
	background-color:#ffb4ae;
	border: 3px solid #9c0a00;
  border-radius: 30px;
  text-align: center;
  margin: auto;
}
.centraltable td,th {
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 30px;
	padding-top: 0px;
  font-family: "Confiteria Bold";
  font-size: 40px;
  color: black;
}

.centraltable2 td,th {
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 20px;
	padding-top: 50px;
    font-family: "Bungee";
    font-size: 40px;
    color: black;
}

.centralfinaltable td {
  table-layout: fixed;
  width: 45%;
}
.centralfinaltable th {
  table-layout: fixed;
}

.toptable{
	padding: 20px;
	background-color:#ffffff;
}
.toptable2 {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
	background-color:#ffffff;
}

/*image padding*/
.altertoptable{
	padding-right: 100px;
}
/* text boxes that user types in */
.submittxt{
	border: 2px solid transparent;
	border-radius:3px;
	border-color: #9c0a00;
	font-size: 30px;
}

button, input[type="submit"]{
	background-color:#9c0a00;
	font-size: 30px;
	padding-left: 10px;
	padding-right: 10px;
	color:#ffffff;
	border-radius: 5px;
	border: 2px solid transparent;
	text-align: center;
    font-family:Bungee;
}

button, input[type="submit"]:hover {
	background-color:#ae2319;
}

#tabletitle{
	padding-bottom: 0px;
  line-height: 240%;
}

#tabletxt{
	font-size: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#tablesub{
	font-size: 20px;
}

.headings{
	background-color: #ffffff;
	color: #000000;
	padding: 20px;
	padding-right: 100px;
	text-align: right;
}

.body{
	background-color:#ffffff;
	color: #000000;
	margin-bottom: 70px;
	padding: 20px;
}


