<!DOCTYPE html>
<html lang="en">
    <head>
		<link href="/static/styles.css" rel="stylesheet"> 
        <meta name="theme-color" content="#6c1515">
		<title>News Comparator</title>
	</head>
    <body>
		<center>
		<div class="toptable2">
			<table>
				<thead>
					<tr>
						<td  class="altertoptable">
							<img src="/static/Redstone_Comparator.png" alt="Minecraft Redstone Comparator">
						</td>
						<td>
							<style> 
								h1 {font-size: 50px; color:maroon; font-family: "Bungee Shade"}
								h2 {font-size: 40px; color:indianred; font-family: "Bungee"}
                                h3 {font-size: 30px; color: coral; font-family: Bungee}
							</style>
							<h1>Redstone Comparator</h1>
							<h2>News Comparison Website</h2>
						</td>
					</tr>
				</thead>
			</table>
		</div>

        <div>
					<form method = "POST">
            <h2 style="line-height: 0%;">Select Keyword:</h2> <h3>{{word}}</h3>
            <select name="keyword">
			<option value = "">Select</option>
                {% for word in keywords %}
								<option value = {{word}} style="font-size:20px"> {{word}} </option>
							{% endfor %}
            </select>
						<button type="submit">Select</button>
					</form>
        </div>
            
        <div class="body">
			<table class="centralfinaltable">
				<thead>
					<tr id="tabletitle">
						<th>
						<h2>{{scraped_urls[0]["headline"]}}</h2>
						<h3>{{scraped_urls[0]["author"][0]}}</h3>
						</th>
						<th></th>
						<th>
						<h2>{{scraped_urls[1]["headline"]}}</h2>
						<h3>{{scraped_urls[1]["author"][0]}}</h3>
						</th>
					</tr>
					
					<tr id="tabletxt">
                    <td></td>
                    <td><h1>Closest Match</h1></td>
                    <td></td>
					{%for pair in prtop %}
                        <tr style="padding-down: 10px">
						<td>
                            {{pair[0]}}
						</td>
                        <td></td>
                        <td>
                            {{pair[1]}}
                        </td>
                        </tr>
					{%endfor%}
                        <tr>
                        <td></td>
                        <td><h1>Farthest Match</h1></td>
                        <td></td>
                    {%for pair in lowtop %}
                        <tr style="padding-down: 10px">
                        <td>
                            {{pair[0]}}
                        </td>
                        <td></td>
                        <td>
                            {{pair[1]}}
                        </td>
					</tr>
                    {%endfor%}
				</thead>
			</table>
		</div>
        </center>
    </body>
</html>