<!DOCTYPE html>
<html lang="en">
    <head>
		<link href="styles.css" rel="stylesheet"> 
		<title>News Comparator</title>
	</head>
    <body>
		<center>
		<div class="toptable">
			<table>
				<thead>
					<tr>
						<td  class="altertoptable">
							<img src="Redstone_Comparator.png" alt="Minecraft Redstone Comparator">
						</td>
						<td>
							<style> 
								h1 {font-size: 50px; color:black}
								h2 {font-size: 40px; color:black}
							</style>
							<h1 font-size= 50px >Redstone Comparator</h1>
							<h2>News Comparison Website</h2>
						</td>
					</tr>
				</thead>
			</table>
		</div>

        <div>
            <h1>Select Keyword:</h1>
            <select name="keyword">
                <option value="" style="font-size:20px">Placeholder</option>
                <!--insert python loop for keyword options-->
            </select>
        </div>
            
        <div class="body">
			<table class="centraltable">
				<thead>
					<tr class="tabletxt">
						<th>Newspage One</th>
						<th></th>
						<th>Newspage Two</th>
					</tr>
					<tr>
						<td>
							Placeholder <!--insert loop thru doc 1 results-->
						</td>
						<td>
							
						</td>
						<td>
							Placeholder <!--insert loop thru doc 2 results-->
						</td>

					</tr>
				</thead>
			</table>
		</div>
        </center>
    </body>
</html>