<!DOCTYPE html>
<html lang ="en">
	<head>
		<link href="/static/styles.css" rel="stylesheet">
        <meta name="theme-color" content="#6c1515">
		<title>News Comparator</title>
        <link rel='icon' type='image/vnd.microsoft.icon' sizes="16x16 32x32 64x64 128x128 256x256" href=favicon.ico />
	</head>
	<body>
		<center>
		<div class="toptable">
			<table>
				<thead>
					<tr>
						<td class="altertoptable">
							<img src="/static/Redstone_Comparator.png" alt="Minecraft Redstone Comparator">
						</td>
						<td>
							<style> 
								h1 {font-size: 50px; color:maroon; font-family:"Bungee Shade"; line-height: 100%}
								h2 {font-size: 40px; color:indianred; font-family:Bungee; line-height: 100%}
							</style>                            
							<h1 font-size= 50px >News Comparator</h1>
							<h2>News Comparison Website</h2>
						</td>
					</tr>
				</thead>
			</table>
		</div>
			
		<div class="body">
			<form method="POST">
				<table class="centraltable">
					<thead>
						<tr class="tabletxt">
							<th>Newspage One</th>
							<th></th>
							<th>Newspage Two</th>
						</tr>
						<tr>
							<td>
								<input class = "submittxt" type="text" name="url1">
							</td>
							<td>
								<input class = "submitbutton" type="submit" value="COMPARE">
							</td>
							<td>
								<input class = "submittxt" type="text" name="url2">
							</td>

						</tr>
					</thead>
				</table>
			</form>
		</div>
		</center>
	</body>
</html>